[Unit]
Description=BIDMC ITS CrOSby services for G Suite Admin
After=local-fs.target network-online.target

[Service]
Type=simple
User=root
Group=wheel
ExecStart=/opt/rh/rh-nodejs12/root/usr/bin/node crosby
KillMode=process
SyslogIdentifier=crosby
WorkingDirectory=/opt/crosby
#TasksMax=200

[Install]
WantedBy=multi-user.target
